.badge {
  @apply
  inline-flex
  items-center
  py-0.5
  bg-secondary
  text-[12px]
  font-medium
  text-white
  uppercase
  rounded
}

.badgeButton {
  @apply
  inline-flex
  flex-shrink-0
  items-center
  justify-center
  ml-1
  h-4
  w-4
  rounded-full
  hover:bg-primary
  focus:bg-primary
  focus:text-white
  focus:outline-none
}